body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "#f1#f1#f1"
}

img {
  max-width: 100%;
  margin: auto;
}

.block__content p {
  line-height: 1.6;
}

@media (min-width: 768px){

  img.blog__image {
    height: 600px;
    width: 100%;
  }

  .block__content p {
    font-size: 18px;
  }

}

.widthSet {
  max-width: 350px;
}

.heightSet {
  max-height: 350px;
}

.bg-primary {
  background-color: #293C50;
}

